
.container {
  // width: 100%;
  padding: 1rem;
}
.chart {
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-card {
  height: 20rem;
  // width: 90%;
  color: black;
  // padding: 0 !important;
}
